### 情绪因子 SENTIMENT_i：以2年的窗口每月滚动获取情绪因子

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

Before_PCA = pd.read_excel('Before_PCA.xlsx',index_col = 0)
Before_PCA

,001004融资余额（合计，单位：亿元）,001004融券余额（合计，单位：亿元）,001004成交量（单位：亿股）_平滑,001004换手率_平滑,001004市盈率,001004市净率,active index,oversold,001004成交额(单位：亿元),IPO数量
Date,,,,,,,,,,
2012-01-04,363.875206,6.826666,80.739204,0.375522,12.789588,1.809715,0.048000,805,777.539626,0
2012-01-05,360.172398,6.868437,87.554887,0.407417,12.606586,1.783618,0.035429,1564,857.911852,0
2012-01-06,360.680748,6.587964,85.697267,0.411139,12.695395,1.796171,0.043886,1789,737.341313,3
2012-01-09,357.337918,7.425210,94.374293,0.448594,13.078578,1.850566,0.104686,1068,1107.884749,0
2012-01-10,355.388199,8.156394,111.008693,0.523940,13.455131,1.903938,0.241829,276,1629.503664,2
...,...,...,...,...,...,...,...,...,...,...
2020-12-25,13102.566768,1088.945666,652.047404,1.173350,21.812183,1.881647,0.249829,2235,7934.389733,4
2020-12-28,13136.458941,1096.791430,664.441823,1.195775,21.800897,1.880798,0.248000,2070,8807.165381,3
2020-12-29,13080.194058,1097.484152,659.404614,1.185581,21.680826,1.870468,0.215543,1968,8593.905127,1
2020-12-30,13121.159255,1133.013233,654.358842,1.175658,21.943651,1.893209,0.246171,2075,8466.187635,3
2020-12-31,13117.346750,1161.299899,669.352294,1.201555,22.350927,1.868283,0.303771,1422,9613.521721,3

In [2]:
#对x做标准化处理
from sklearn.preprocessing import StandardScaler
Before_PCA_std = StandardScaler().fit_transform(Before_PCA)
Before_PCA_std = pd.DataFrame(Before_PCA_std,index = Before_PCA.index,columns = Before_PCA.columns)
Before_PCA_std

,001004融资余额（合计，单位：亿元）,001004融券余额（合计，单位：亿元）,001004成交量（单位：亿股）_平滑,001004换手率_平滑,001004市盈率,001004市净率,active index,oversold,001004成交额(单位：亿元),IPO数量
Date,,,,,,,,,,
2012-01-04,-1.672265,-0.401790,-1.389359,-1.185017,-1.245314,-0.117330,-1.685324,-0.060511,-1.192496,-0.568921
2012-01-05,-1.673189,-0.401549,-1.359081,-1.128044,-1.293555,-0.196141,-1.755875,1.018818,-1.168674,-0.568921
2012-01-06,-1.673062,-0.403167,-1.367333,-1.121395,-1.270144,-0.158231,-1.708413,1.338777,-1.204411,1.427015
2012-01-09,-1.673897,-0.398336,-1.328786,-1.054491,-1.169133,0.006040,-1.367202,0.313486,-1.094581,-0.568921
2012-01-10,-1.674384,-0.394116,-1.254888,-0.919903,-1.069869,0.167220,-0.597551,-0.812770,-0.939971,0.761703
...,...,...,...,...,...,...,...,...,...,...
2020-12-25,1.508840,5.842853,1.148656,0.240114,1.133143,0.099904,-0.552654,1.973006,0.928822,2.092326
2020-12-28,1.517304,5.888129,1.203717,0.280171,1.130168,0.097338,-0.562916,1.738370,1.187516,1.427015
2020-12-29,1.503253,5.892126,1.181340,0.261962,1.098516,0.066142,-0.745067,1.593322,1.124305,0.096391
2020-12-30,1.513483,6.097156,1.158924,0.244237,1.167799,0.134819,-0.573178,1.745480,1.086449,1.427015
2020-12-31,1.512531,6.260391,1.225532,0.290496,1.275162,0.059543,-0.249925,0.816888,1.426523,1.427015

In [3]:
import numpy as np
sentiment = pd.read_excel('Dates.xlsx',sheet_name = '2012-2020',index_col = 0)
sentiment = sentiment['2014-01':]
sentiment['综合情绪指数'] = np.nan
sentiment

            综合情绪指数
Date
2014-01-02     NaN
2014-01-03     NaN
2014-01-06     NaN
2014-01-07     NaN
2014-01-08     NaN
...            ...
2020-12-25     NaN
2020-12-28     NaN
2020-12-29     NaN
2020-12-30     NaN
2020-12-31     NaN

[1707 rows x 1 columns]

In [4]:
check_month_len = pd.read_excel('Dates.xlsx',sheet_name = '2012-2020',index_col = 0)
check_month_len = check_month_len['2014-01':]
check_month_len

Empty DataFrame
Columns: []
Index: [2014-01-02 00:00:00, 2014-01-03 00:00:00, 2014-01-06 00:00:00, 2014-01-07 00:00:00, 2014-01-08 00:00:00, 2014-01-09 00:00:00, 2014-01-10 00:00:00, 2014-01-13 00:00:00, 2014-01-14 00:00:00, 2014-01-15 00:00:00, 2014-01-16 00:00:00, 2014-01-17 00:00:00, 2014-01-20 00:00:00, 2014-01-21 00:00:00, 2014-01-22 00:00:00, 2014-01-23 00:00:00, 2014-01-24 00:00:00, 2014-01-27 00:00:00, 2014-01-28 00:00:00, 2014-01-29 00:00:00, 2014-01-30 00:00:00, 2014-02-07 00:00:00, 2014-02-10 00:00:00, 2014-02-11 00:00:00, 2014-02-12 00:00:00, 2014-02-13 00:00:00, 2014-02-14 00:00:00, 2014-02-17 00:00:00, 2014-02-18 00:00:00, 2014-02-19 00:00:00, 2014-02-20 00:00:00, 2014-02-21 00:00:00, 2014-02-24 00:00:00, 2014-02-25 00:00:00, 2014-02-26 00:00:00, 2014-02-27 00:00:00, 2014-02-28 00:00:00, 2014-03-03 00:00:00, 2014-03-04 00:00:00, 2014-03-05 00:00:00, 2014-03-06 00:00:00, 2014-03-07 00:00:00, 2014-03-10 00:00:00, 2014-03-11 00:00:00, 2014-03-12 00:00:00, 2014-03-13 00:00:00, 2014-03-14 00:00:00, 2014-03-17 00:00:00, 2014-03-18 00:00:00, 2014-03-19 00:00:00, 2014-03-20 00:00:00, 2014-03-21 00:00:00, 2014-03-24 00:00:00, 2014-03-25 00:00:00, 2014-03-26 00:00:00, 2014-03-27 00:00:00, 2014-03-28 00:00:00, 2014-03-31 00:00:00, 2014-04-01 00:00:00, 2014-04-02 00:00:00, 2014-04-03 00:00:00, 2014-04-04 00:00:00, 2014-04-08 00:00:00, 2014-04-09 00:00:00, 2014-04-10 00:00:00, 2014-04-11 00:00:00, 2014-04-14 00:00:00, 2014-04-15 00:00:00, 2014-04-16 00:00:00, 2014-04-17 00:00:00, 2014-04-18 00:00:00, 2014-04-21 00:00:00, 2014-04-22 00:00:00, 2014-04-23 00:00:00, 2014-04-24 00:00:00, 2014-04-25 00:00:00, 2014-04-28 00:00:00, 2014-04-29 00:00:00, 2014-04-30 00:00:00, 2014-05-05 00:00:00, 2014-05-06 00:00:00, 2014-05-07 00:00:00, 2014-05-08 00:00:00, 2014-05-09 00:00:00, 2014-05-12 00:00:00, 2014-05-13 00:00:00, 2014-05-14 00:00:00, 2014-05-15 00:00:00, 2014-05-16 00:00:00, 2014-05-19 00:00:00, 2014-05-20 00:00:00, 2014-05-21 00:00:00, 2014-05-22 00:00:00, 2014-05-23 00:00:00, 2014-05-26 00:00:00, 2014-05-27 00:00:00, 2014-05-28 00:00:00, 2014-05-29 00:00:00, 2014-05-30 00:00:00, 2014-06-03 00:00:00, ...]

[1707 rows x 0 columns]

In [5]:
dates = pd.date_range(start="2012-01", end="2020-12", freq="MS")
yrmn = []
for i in dates:
    yrmn += [str(i)[:7]]
yrmn

['2012-01',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2016-10',
 '2016-11',
 '2016-12',
 '2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-01',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10',
 '2020-11',
 '2020-12']

**Pause Here**

**Pause Here**

**Pause Here**

In [97]:
window = Before_PCA_std['2012-01':'2013-12']
window

,001004融资余额（合计，单位：亿元）,001004融券余额（合计，单位：亿元）,001004成交量（单位：亿股）_平滑,001004换手率_平滑,001004市盈率,001004市净率,active index,oversold,001004成交额(单位：亿元),IPO数量
Date,,,,,,,,,,
2012-01-04,-1.672265,-0.401790,-1.389359,-1.185017,-1.245314,-0.117330,-1.685324,-0.060511,-1.192496,-0.568921
2012-01-05,-1.673189,-0.401549,-1.359081,-1.128044,-1.293555,-0.196141,-1.755875,1.018818,-1.168674,-0.568921
2012-01-06,-1.673062,-0.403167,-1.367333,-1.121395,-1.270144,-0.158231,-1.708413,1.338777,-1.204411,1.427015
2012-01-09,-1.673897,-0.398336,-1.328786,-1.054491,-1.169133,0.006040,-1.367202,0.313486,-1.094581,-0.568921
2012-01-10,-1.674384,-0.394116,-1.254888,-0.919903,-1.069869,0.167220,-0.597551,-0.812770,-0.939971,0.761703
...,...,...,...,...,...,...,...,...,...,...
2013-12-25,-0.992819,-0.307908,-1.149652,-1.016373,-1.023013,-0.758647,-0.791246,-0.383314,-1.003457,-0.568921
2013-12-26,-0.990910,-0.312258,-1.135782,-0.997203,-1.079813,-0.834579,-1.067038,-0.576711,-0.957846,-0.568921
2013-12-27,-0.990753,-0.307358,-1.136995,-0.999109,-1.026114,-0.762543,-0.680929,-0.454416,-0.959979,-0.568921
2013-12-30,-0.984539,-0.312060,-1.116084,-0.970211,-1.028118,-0.764621,-0.568047,-0.831256,-0.963419,-0.568921
2013-12-31,-0.984558,-0.292870,-1.097783,-0.945491,-1.000494,-0.869012,-0.494930,-0.856853,-0.955724,-0.568921

In [98]:
from sklearn.decomposition import PCA
#实例化PCA
pca = PCA()
#训练模型
pca.fit(window)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [99]:
#PCA后的数据
After_PCA = pd.DataFrame(pca.fit_transform(window),index = window.index,columns = None)
After_PCA

,0,1,2,3,4,5,6,7,8,9
Date,,,,,,,,,,
2012-01-04,1.468436,-0.143698,-0.051760,-0.654027,0.103517,0.017931,0.029773,0.070166,-0.018236,-0.019598
2012-01-05,2.038973,-0.155551,0.623479,-0.341841,-0.443167,-0.008498,0.092419,0.048971,-0.008218,-0.009605
2012-01-06,2.373436,1.608242,0.322043,0.516885,-0.635548,0.026862,0.056749,0.015909,-0.004792,-0.013918
2012-01-09,1.325815,-0.044320,0.379634,-0.544368,-0.139039,0.043489,0.089934,0.042228,-0.005283,-0.016425
2012-01-10,0.225142,1.219786,-0.427431,-0.194971,0.221639,0.057724,0.125267,0.026622,0.000884,-0.017401
...,...,...,...,...,...,...,...,...,...,...
2013-12-25,0.507471,-0.474351,-0.235805,0.183814,-0.022369,0.419339,-0.032543,0.029971,0.044572,0.016807
2013-12-26,0.641016,-0.548589,-0.422719,0.184529,0.221373,0.344958,0.007353,0.046133,0.050385,0.019158
2013-12-27,0.373849,-0.469592,-0.256226,0.197083,-0.026073,0.415874,0.000524,0.028089,0.046578,0.019192
2013-12-30,0.092082,-0.473469,-0.472189,0.141071,0.132721,0.392114,-0.026195,0.048217,0.048736,0.023129
2013-12-31,0.017854,-0.512688,-0.504860,0.221245,0.106084,0.378439,-0.041815,-0.008017,0.041139,0.034600

In [100]:
#计算各自的方差解释度
ratio = pca.explained_variance_ratio_
ratio

array([5.50689750e-01, 2.23378118e-01, 8.76384473e-02, 8.00549043e-02,
       4.16849810e-02, 1.22335522e-02, 2.51116027e-03, 1.33164679e-03,
       2.76647285e-04, 2.00793373e-04])

In [107]:
#计算累计方差解释度
cum_ratio = ratio.cumsum()
cum_ratio

array([0.55068975, 0.77406787, 0.86170631, 0.94176122, 0.9834462 ,
       0.99567975, 0.99819091, 0.99952256, 0.99979921, 1.        ])

In [116]:
index_ = int(min(np.argwhere(cum_ratio > 0.85)))
index_

2

In [121]:
After_PCA_new = After_PCA.iloc[:,:index_+1]
After_PCA_new

                   0         1         2
Date
2012-01-04  1.468436 -0.143698 -0.051760
2012-01-05  2.038973 -0.155551  0.623479
2012-01-06  2.373436  1.608242  0.322043
2012-01-09  1.325815 -0.044320  0.379634
2012-01-10  0.225142  1.219786 -0.427431
...              ...       ...       ...
2013-12-25  0.507471 -0.474351 -0.235805
2013-12-26  0.641016 -0.548589 -0.422719
2013-12-27  0.373849 -0.469592 -0.256226
2013-12-30  0.092082 -0.473469 -0.472189
2013-12-31  0.017854 -0.512688 -0.504860

[481 rows x 3 columns]

In [127]:
weight = ratio[0:index_+1]
weight

array([0.55068975, 0.22337812, 0.08763845])

In [128]:
#计算第一主成分序列
fpc = []
for i in range(len(After_PCA_new)):
    After_PCA_nums = After_PCA_new.iloc[[i],:]
    fpc += [float(np.dot(After_PCA_nums,weight))]
After_PCA_new['综合情绪指数'] = fpc
After_PCA_new

                   0         1         2    综合情绪指数
Date
2012-01-04  1.468436 -0.143698 -0.051760  0.772017
2012-01-05  2.038973 -0.155551  0.623479  1.142736
2012-01-06  2.373436  1.608242  0.322043  1.694496
2012-01-09  1.325815 -0.044320  0.379634  0.753483
2012-01-10  0.225142  1.219786 -0.427431  0.358997
...              ...       ...       ...       ...
2013-12-25  0.507471 -0.474351 -0.235805  0.152834
2013-12-26  0.641016 -0.548589 -0.422719  0.193412
2013-12-27  0.373849 -0.469592 -0.256226  0.078523
2013-12-30  0.092082 -0.473469 -0.472189 -0.096436
2013-12-31  0.017854 -0.512688 -0.504860 -0.148937

[481 rows x 4 columns]

In [133]:
len(sentiment['2014-01'])

21

In [151]:
slicing = After_PCA_new.iloc[-len(sentiment['2014-01']):,-1]
slicing

Date
2013-12-03    0.150822
2013-12-04   -0.446355
2013-12-05   -0.436829
2013-12-06   -0.353634
2013-12-09   -0.428582
2013-12-10   -0.446974
2013-12-11   -0.162634
2013-12-12   -0.132600
2013-12-13   -0.221484
2013-12-16   -0.051501
2013-12-17    0.259390
2013-12-18    0.232277
2013-12-19    0.407328
2013-12-20    0.463526
2013-12-23    0.562313
2013-12-24    0.381227
2013-12-25    0.152834
2013-12-26    0.193412
2013-12-27    0.078523
2013-12-30   -0.096436
2013-12-31   -0.148937
Name: 综合情绪指数, dtype: float64

In [163]:
sentiment['综合情绪指数']['2014-01'] = slicing
sentiment

              综合情绪指数
Date
2014-01-02  0.150822
2014-01-03 -0.446355
2014-01-06 -0.436829
2014-01-07 -0.353634
2014-01-08 -0.428582
...              ...
2020-12-25       NaN
2020-12-28       NaN
2020-12-29       NaN
2020-12-30       NaN
2020-12-31       NaN

[1707 rows x 1 columns]

**Resume Here**

**Resume Here**

**Resume Here**

**将以上代码改写为循环体**

In [6]:
from sklearn.decomposition import PCA
#实例化PCA
pca = PCA()

In [7]:
for i in range(24,len(yrmn)):
    #切出用于降维的窗口数据
    which_month = yrmn[i]
    start,end = yrmn[i-24],yrmn[i-1]
    window = Before_PCA_std[start:end]
    #训练数据
    pca.fit(window)
    #PCA后的数据
    After_PCA = pd.DataFrame(pca.fit_transform(window),index = window.index,columns = None)
    #计算各自的方差解释度
    ratio = pca.explained_variance_ratio_
    #计算累计方差解释度
    cum_ratio = ratio.cumsum()
    #切出达到累计方差解释度85%的主成分序列
    index_ = int(min(np.argwhere(cum_ratio > 0.85)))
    After_PCA_new = After_PCA.iloc[:,:index_+1]
    #切出这些主成分序列的权重
    weight = ratio[0:index_+1]
    #计算综合情绪指数
    fpc = []
    for i in range(len(After_PCA_new)):
        After_PCA_nums = After_PCA_new.iloc[[i],:]
        fpc += [float(np.dot(After_PCA_nums,weight))]
    After_PCA_new['综合情绪指数'] = fpc
    #切出综合情绪指数最末尾与i月长度相同的一段,作为i月的综合情绪指数
    len_month = len(check_month_len[which_month])
    slicing = After_PCA_new.iloc[-len_month:,-1]
    sentiment['综合情绪指数'][which_month] = slicing

sentiment

              综合情绪指数
Date
2014-01-02  0.150822
2014-01-03 -0.446355
2014-01-06 -0.436829
2014-01-07 -0.353634
2014-01-08 -0.428582
...              ...
2020-12-25  1.756008
2020-12-28  1.763164
2020-12-29  1.804587
2020-12-30  1.862747
2020-12-31  1.747991

[1707 rows x 1 columns]

### 沪深300指数收益率(涨跌幅): R_mkt,i

In [8]:
pd.options.display.float_format = '{:.6f}'.format

HS300 = pd.read_excel('指标.xlsx',sheet_name = '沪深300',index_col = 0,names = ['Date','current'])
HS300 = pd.DataFrame(HS300)
HS300 = HS300['2013-12-31':'2020']
HS300

               current
Date
2013-12-31 2330.026000
2014-01-02 2321.978000
2014-01-03 2290.779000
2014-01-06 2238.637000
2014-01-07 2238.001000
...                ...
2020-12-25 5042.013700
2020-12-28 5064.414700
2020-12-29 5042.936100
2020-12-30 5113.710500
2020-12-31 5211.288500

[1708 rows x 1 columns]

In [9]:
HS300['last'] = 0.0
HS300['log_current'] = 0.0
HS300['log_last'] = 0.0
HS300['R_mkt'] = 0.0

for i in range(1,len(HS300)):
    HS300['last'][i] = HS300['current'][i-1]

HS300 = HS300['2014':'2020']
for i in range(len(HS300)):
    HS300['log_current'][i] = np.log( HS300['current'][i])
    HS300['log_last'][i] = np.log( HS300['last'][i])
HS300['R_mkt'] = HS300['log_current'] - HS300['log_last']
R_mkt = pd.DataFrame(HS300['R_mkt'])
R_mkt

               R_mkt
Date
2014-01-02 -0.003460
2014-01-03 -0.013527
2014-01-06 -0.023025
2014-01-07 -0.000284
2014-01-08  0.001746
...              ...
2020-12-25  0.008365
2020-12-28  0.004433
2020-12-29 -0.004250
2020-12-30  0.013937
2020-12-31  0.018902

[1707 rows x 1 columns]

**将sentiment和R_mkt用不同的sheet存储至excel文件'sentiment and R_mkt.xlsx'**

In [10]:
writer = pd.ExcelWriter('sentiment and R_mkt.xlsx')
sentiment.to_excel(writer,'sentiment')
R_mkt.to_excel(writer,'R_mkt')
writer.save()

**Pause Here: Easier alternative to calculate R_mkt**

**Pause Here: Easier alternative to calculate R_mkt**

**Pause Here: Easier alternative to calculate R_mkt**

In [12]:
HS300 = pd.read_excel('指标.xlsx',sheet_name = '沪深300',index_col = 0)
HS300 = pd.DataFrame(HS300)
HS300 = HS300['2013-12-31':'2020']
HS300['Date'] = HS300.index
HS300.index = range(0,len(HS300))
HS300

       000300.SH       Date
0    2330.026000 2013-12-31
1    2321.978000 2014-01-02
2    2290.779000 2014-01-03
3    2238.637000 2014-01-06
4    2238.001000 2014-01-07
...          ...        ...
1703 5042.013700 2020-12-25
1704 5064.414700 2020-12-28
1705 5042.936100 2020-12-29
1706 5113.710500 2020-12-30
1707 5211.288500 2020-12-31

[1708 rows x 2 columns]

In [15]:
HS300_ = pd.DataFrame()
HS300_['Date'] = HS300.Date[1:]
HS300_['R_mkt'] = np.diff(np.log(HS300['000300.SH']))
HS300_

           Date     R_mkt
1    2014-01-02 -0.003460
2    2014-01-03 -0.013527
3    2014-01-06 -0.023025
4    2014-01-07 -0.000284
5    2014-01-08  0.001746
...         ...       ...
1703 2020-12-25  0.008365
1704 2020-12-28  0.004433
1705 2020-12-29 -0.004250
1706 2020-12-30  0.013937
1707 2020-12-31  0.018902

[1707 rows x 2 columns]

**Resume Here**

**Resume Here**

**Resume Here**

### 交易状态

**每个月末，如果没有涨停，而且没有跌停，而且交易状态正常，那么该月第i股的所有的每日R_it都可以用来回归**

In [55]:
uplim = pd.read_excel('交易状态.xlsx',sheet_name = '是否涨停',index_col = None,header = None)
uplim.iloc[0,1:] = uplim.iloc[0,1:].dt.date
uplim.columns = uplim.iloc[0,:]
uplim = uplim.drop(index = [0])
uplim = uplim.set_index('Code',drop = True)
uplim

,2014-01-30,2014-02-28,2014-03-31,2014-04-30,2014-05-30,2014-06-30,2014-07-31,2014-08-29,2014-09-30,2014-10-31,...,2020-04-30,2020-05-29,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-30,2020-11-30,2020-12-31,2020-12-31
Code,,,,,,,,,,,,,,,,,,,,,
000001.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
000002.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
000004.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,是,否,否,否,否,否
000005.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
000006.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688793.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688799.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688819.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688981.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,否,否,否,否,否,否,否
689009.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,否,否,否

In [56]:
downlim = pd.read_excel('交易状态.xlsx',sheet_name = '是否跌停',index_col = None,header = None)
downlim.iloc[0,1:] = downlim.iloc[0,1:].dt.date
downlim.columns = downlim.iloc[0,:]
downlim = downlim.drop(index = [0])
downlim = downlim.set_index('Code',drop = True)
downlim

,2014-01-30,2014-02-28,2014-03-31,2014-04-30,2014-05-30,2014-06-30,2014-07-31,2014-08-29,2014-09-30,2014-10-31,...,2020-04-30,2020-05-29,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-30,2020-11-30,2020-12-31,2020-12-31
Code,,,,,,,,,,,,,,,,,,,,,
000001.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
000002.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
000004.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
000005.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
000006.SZ,否,否,否,否,否,否,否,否,否,否,...,否,否,否,否,否,否,否,否,否,否
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688793.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688799.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688819.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688981.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,否,否,否,否,否,否,否
689009.SH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,否,否,否

In [57]:
status = pd.read_excel('交易状态.xlsx',sheet_name = '交易状态',index_col = None,header = None)
status.iloc[0,1:] = status.iloc[0,1:].dt.date
status.columns = status.iloc[0,:]
status = status.drop(index = [0])
status = status.set_index('Code',drop = True)
status

,2014-01-30,2014-02-28,2014-03-31,2014-04-30,2014-05-30,2014-06-30,2014-07-31,2014-08-29,2014-09-30,2014-10-31,...,2020-04-30,2020-05-29,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-30,2020-11-30,2020-12-31,2020-12-31
Code,,,,,,,,,,,,,,,,,,,,,
000001.SZ,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,...,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易
000002.SZ,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,...,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易
000004.SZ,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,...,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易
000005.SZ,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,...,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易
000006.SZ,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,...,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688793.SH,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,...,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市
688799.SH,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,...,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市
688819.SH,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,...,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市
688981.SH,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,...,未上市,未上市,未上市,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易,正常交易
689009.SH,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,未上市,...,未上市,未上市,未上市,未上市,未上市,未上市,正常交易,正常交易,正常交易,正常交易

In [76]:
allok = pd.DataFrame(index = uplim.index,columns = uplim.columns)
for row in range(len(uplim.index)):
    for col in range(len(uplim.columns)):
        if uplim.iloc[row,col] == '否' and downlim.iloc[row,col] == '否' and status.iloc[row,col] == '正常交易':
            allok.iloc[row,col] = 1
        else:
            allok.iloc[row,col] = 0
allok

,2014-01-30,2014-02-28,2014-03-31,2014-04-30,2014-05-30,2014-06-30,2014-07-31,2014-08-29,2014-09-30,2014-10-31,...,2020-04-30,2020-05-29,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-30,2020-11-30,2020-12-31,2020-12-31
Code,,,,,,,,,,,,,,,,,,,,,
000001.SZ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
000002.SZ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
000004.SZ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
000005.SZ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
000006.SZ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688793.SH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
688799.SH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
688819.SH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
688981.SH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
689009.SH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1

In [77]:
#将allok存入excel
allok.to_excel('allok.xlsx',index = True)

### 全部A股个股收益率 R_i,t

In [113]:
close_2013 = pd.read_excel('收盘价.xlsx',sheet_name = '2013',index_col = 0).iloc[-1,:]
close_2013 = pd.DataFrame(close_2013).T
close_2014 = pd.read_excel('收盘价.xlsx',sheet_name = '2014',index_col = 0)
close_2014 = close_2013.append(close_2014)
for i in range(len(close_2014.columns)):
    close_2014.iloc[:,i] = pd.to_numeric(close_2014.iloc[:,i],errors='coerce')
close_2014

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688690.SH,688696.SH,688698.SH,688699.SH,688700.SH,688777.SH,688788.SH,688819.SH,688981.SH,689009.SH
2013-12-31,6.390540,6.098013,11.650000,2.500000,4.006025,9.251390,2.034043,4.759659,7.670000,6.434262,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-02,6.380106,6.067637,11.810000,2.490000,3.957270,9.358034,2.034043,4.734476,7.700000,6.442500,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-03,6.223603,5.953727,11.800000,2.460000,3.843509,9.331373,2.022743,4.608559,7.760000,6.294208,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-06,6.087967,5.680341,12.300000,2.380000,3.624112,9.358034,1.923301,4.568266,7.220000,6.063530,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-07,6.067100,5.642371,12.230000,2.450000,3.615986,9.717959,1.896180,4.558192,7.240000,6.071768,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-25,9.325952,8.988797,16.460000,4.000000,5.386514,9.011441,5.464796,7.822826,7.400000,7.970115,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-12-26,9.586241,9.437436,16.540000,4.100000,5.478807,9.064763,5.464796,7.853147,7.400000,8.115649,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-12-29,9.471968,9.958178,15.800000,4.100000,5.571099,9.071428,5.152909,7.853147,7.400000,8.286865,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-12-30,9.840181,10.126417,15.350000,4.100000,5.646611,8.924792,4.879444,7.853147,7.400000,8.372473,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-12-31,10.056030,11.135854,15.570000,4.100000,5.915097,9.731289,4.992446,7.853147,7.400000,8.543690,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [116]:
R_it_2014 = pd.DataFrame(index = close_2014.index[1:])
for i in list(close_2014.columns):
    R_it_2014[i] = np.diff(np.log(close_2014[i]))
R_it_2014

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688690.SH,688696.SH,688698.SH,688699.SH,688700.SH,688777.SH,688788.SH,688819.SH,688981.SH,689009.SH
2014-01-02,-0.001634,-0.004994,0.013640,-0.004008,-0.012245,0.011461,0.000000,-0.005305,0.003904,0.001280,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-03,-0.024836,-0.018952,-0.000847,-0.012121,-0.029169,-0.002853,-0.005571,-0.026956,0.007762,-0.023287,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-06,-0.022035,-0.047006,0.041500,-0.033061,-0.058776,0.002853,-0.050412,-0.008782,-0.072127,-0.037338,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-07,-0.003433,-0.006707,-0.005707,0.028988,-0.002245,0.037740,-0.014201,-0.002208,0.002766,0.001358,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-08,0.011116,-0.001347,0.000000,-0.016461,-0.013575,0.002740,-0.019255,-0.017838,0.019152,-0.021949,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-25,0.043122,0.017079,0.007317,0.007528,0.007819,0.002221,0.000000,0.009346,0.006780,0.007547,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-12-26,0.027528,0.048705,0.004848,0.024693,0.016989,0.005900,0.000000,0.003868,0.000000,0.018095,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-12-29,-0.011992,0.053710,-0.045772,0.000000,0.016705,0.000735,-0.058765,0.000000,0.000000,0.020878,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-12-30,0.038137,0.016753,-0.028894,0.000000,0.013463,-0.016297,-0.054530,0.000000,0.000000,0.010278,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-12-31,0.021698,0.095022,0.014231,0.000000,0.046452,0.086513,0.022895,0.000000,0.000000,0.020244,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [120]:
def R_it(year):
    '''The parameter "year" passes an integer'''
    close_last_year = pd.read_excel('收盘价.xlsx',sheet_name = str(year-1),index_col = 0).iloc[-1,:]
    close_last_year = pd.DataFrame(close_last_year).T
    close_year = pd.read_excel('收盘价.xlsx',sheet_name = str(year),index_col = 0)
    close_year = close_last_year.append(close_year)
    for i in range(4375):
        close_year.iloc[:,i] = pd.to_numeric(close_year.iloc[:,i],errors='coerce')
    R_it_year = pd.DataFrame(index = close_year.index[1:])
    for i in list(close_year.columns):
        R_it_year[i] = np.diff(np.log(close_year[i]))
    return R_it_year

#R_it_2014 = R_it(2014)
R_it_2015 = R_it(2015)
R_it_2016 = R_it(2016)
R_it_2017 = R_it(2017)
R_it_2018 = R_it(2018)
R_it_2019 = R_it(2019)
R_it_2020 = R_it(2020)

In [121]:
R_it = pd.concat([R_it_2014,R_it_2015,R_it_2016,R_it_2017,R_it_2018,R_it_2019,R_it_2020])
R_it

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688690.SH,688696.SH,688698.SH,688699.SH,688700.SH,688777.SH,688788.SH,688819.SH,688981.SH,689009.SH
2014-01-02,-0.001634,-0.004994,0.013640,-0.004008,-0.012245,0.011461,0.000000,-0.005305,0.003904,0.001280,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-03,-0.024836,-0.018952,-0.000847,-0.012121,-0.029169,-0.002853,-0.005571,-0.026956,0.007762,-0.023287,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-06,-0.022035,-0.047006,0.041500,-0.033061,-0.058776,0.002853,-0.050412,-0.008782,-0.072127,-0.037338,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-07,-0.003433,-0.006707,-0.005707,0.028988,-0.002245,0.037740,-0.014201,-0.002208,0.002766,0.001358,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2014-01-08,0.011116,-0.001347,0.000000,-0.016461,-0.013575,0.002740,-0.019255,-0.017838,0.019152,-0.021949,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-25,-0.012121,0.005710,-0.000461,0.003976,-0.012313,-0.007018,0.000000,0.017276,0.055205,0.001692,...,nan,nan,nan,0.000845,nan,-0.018345,-0.040691,nan,-0.010797,0.026992
2020-12-28,0.043921,0.011324,-0.059790,-0.011976,-0.026907,-0.002350,-0.019725,-0.032131,-0.085385,-0.030032,...,nan,nan,nan,-0.057357,nan,0.040374,-0.223144,nan,-0.026552,0.064455
2020-12-29,0.016834,0.003512,0.010217,0.004008,0.005440,0.011696,0.000000,-0.002725,0.095563,0.031721,...,nan,nan,nan,-0.034395,nan,-0.039256,-0.133453,nan,0.009564,-0.033514
2020-12-30,0.001564,-0.004921,-0.009239,-0.004008,0.001807,-0.105361,0.003976,0.033538,0.005051,0.025824,...,nan,nan,-0.034039,0.003512,nan,0.015828,0.037460,nan,0.072325,0.043576
2020-12-31,0.007265,0.011212,0.011173,0.015937,0.012556,-0.104786,0.007905,-0.006618,-0.015229,0.000822,...,nan,nan,-0.078451,0.017738,nan,0.002198,0.002253,nan,0.022414,0.058915

In [123]:
#将R_it存入excel
R_it.to_excel('R_it.xlsx',index = True)

**11 Aug Start Here**

**11 Aug Start Here**

**11 Aug Start Here**

### 从2015年1月开始，每月对一个股票的R_i_t关于R_mkt_t、sentiment_t进行回归（都是当月的前12个月的数据），得到β_mkt_i_t和β_sent_i_t

In [2]:
import pandas as pd
import numpy as np

In [3]:
allok = pd.read_excel('allok.xlsx',index_col = 0)
R_it = pd.read_excel('R_it.xlsx',index_col = 0)
R_mkt = pd.read_excel('sentiment and R_mkt.xlsx',sheet_name = 'R_mkt',index_col = 0)
sentiment = pd.read_excel('sentiment and R_mkt.xlsx',sheet_name = 'sentiment',index_col = 0)

**Pause Here**

**Pause Here**

**Pause Here**

In [4]:
stock = 0
stock_ = pd.concat([R_it.iloc[:,stock],R_mkt.iloc[:,0],sentiment.iloc[:,0]],axis = 1)#以行对齐
stock_

            000001.SZ     R_mkt    综合情绪指数
2014-01-02  -0.001634 -0.003460  0.150822
2014-01-03  -0.024836 -0.013527 -0.446355
2014-01-06  -0.022035 -0.023025 -0.436829
2014-01-07  -0.003433 -0.000284 -0.353634
2014-01-08   0.011116  0.001746 -0.428582
...               ...       ...       ...
2020-12-25  -0.012121  0.008365  1.756008
2020-12-28   0.043921  0.004433  1.763164
2020-12-29   0.016834 -0.004250  1.804587
2020-12-30   0.001564  0.013937  1.862747
2020-12-31   0.007265  0.018902  1.747991

[1707 rows x 3 columns]

In [5]:
allok_stock = pd.DataFrame(allok.iloc[stock,:])
col_name = list(allok_stock.columns)[0]
allok_stock = allok_stock[allok_stock[col_name] == 0]
allok_stock

                     000001.SZ
2014-11-28 00:00:00          0

In [6]:
filter_stock = []
for i in list(allok_stock.index):
    filter_stock += [str(i.year) + '-' + str(i.month)]
filter_stock

['2014-11']

In [7]:
for j in filter_stock:
    index_ = list(stock_[j].index)
    stock_ = stock_.drop(index = index_)
stock_

            000001.SZ     R_mkt    综合情绪指数
2014-01-02  -0.001634 -0.003460  0.150822
2014-01-03  -0.024836 -0.013527 -0.446355
2014-01-06  -0.022035 -0.023025 -0.436829
2014-01-07  -0.003433 -0.000284 -0.353634
2014-01-08   0.011116  0.001746 -0.428582
...               ...       ...       ...
2020-12-25  -0.012121  0.008365  1.756008
2020-12-28   0.043921  0.004433  1.763164
2020-12-29   0.016834 -0.004250  1.804587
2020-12-30   0.001564  0.013937  1.862747
2020-12-31   0.007265  0.018902  1.747991

[1687 rows x 3 columns]

In [43]:
from sklearn.linear_model import LinearRegression

R_mkt_beta = []
sentiment_beta = []
lr = LinearRegression()
lr.fit(stock_.iloc[:,[1,2]],stock_.iloc[:,0])
R_mkt_beta += [round(list(lr.coef_)[0], 6)]
sentiment_beta += [round(list(lr.coef_)[1], 11)]

In [44]:
R_mkt_beta

[1.032289]

In [45]:
sentiment_beta

[-9.753213e-05]

**Resume Here**

**Resume Here**

**Resume Here**

**将以上代码改写为函数**

In [61]:
def yrmn(start,end):
    '''produce a list of "yyyy-mm" format'''
    dates = pd.date_range(start=start, end=end, freq="MS")
    yrmn = []
    for i in dates:
        yrmn += [str(i)[:7]]
    return yrmn

yrmn1 = yrmn('2014-01','2020-12')
yrmn1

['2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2016-10',
 '2016-11',
 '2016-12',
 '2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-01',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10',
 '2020-11',
 '2020-12']

In [63]:
R_mkt_beta_table = pd.DataFrame(index = yrmn('2015-01','2020-12'),columns = R_it.columns)
sentiment_beta_table = pd.DataFrame(index = yrmn('2015-01','2020-12'),columns = R_it.columns)

In [195]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

def betas_per_stock(stock):
    '''For "stock" [an integer in range(4375)], return R_mkt_beta & sentiment_beta for 12-month \
    period [including dropped period] before each month since Jan 2015'''
    # 提取个股用于回归的数据、设置放置回归系数的list
    R_mkt_beta = []
    sentiment_beta = []
    stock_ = pd.concat([R_it.iloc[:,stock],R_mkt.iloc[:,0],sentiment.iloc[:,0]],axis = 1)#以行对齐
    # 提取个股交易状态不合格的数据
    allok_stock = pd.DataFrame(allok.iloc[stock,:])
    allok_stock.index = pd.to_datetime(allok_stock.index) # pandas转换series至dataframe时间标签                                            
    col_name = list(allok_stock.columns)[0]               # '2020-12'出错，需要pd.to_datetime修改
    allok_stock = allok_stock[allok_stock[col_name] == 0]
    filter_stock = []
    for i in list(allok_stock.index):
        filter_stock += [str(i.year) + '-' + str(i.month)]
    # 过滤个股用于回归的数据(不合格的交易状态)
    for j in set(filter_stock):                          # pandas转换series至dataframe时间标签
        index_ = list(stock_[j].index)                   # '2020-12'重复，需要set修改
        stock_ = stock_.drop(index = index_)
    # 过滤个股用于回归的数据(最初源自收盘价空白值，导入后变成nan)
    index_1 = list(stock_.index[np.where(np.isnan(stock_))[0]])
    stock_ = stock_.drop(index = index_1)    
    # 逐月回归,每月得到2个回归系数，得到两列回归系数
    for k in range(12,len(yrmn1)):
        start,end = yrmn1[k-12],yrmn1[k-1]
        slicing = stock_[start:end]
        if len(slicing.index) >= 1:         
            lr.fit(slicing.iloc[:,[1,2]],slicing.iloc[:,0])
            R_mkt_beta += [round(list(lr.coef_)[0], 6)]
            sentiment_beta += [round(list(lr.coef_)[1], 11)]
        else:
            R_mkt_beta += [np.nan]
            sentiment_beta += [np.nan]
    # 将两列回归系数放入最终表格
    R_mkt_beta_table.iloc[:,stock] = R_mkt_beta
    sentiment_beta_table.iloc[:,stock] = sentiment_beta

In [196]:
for stock_i in range(len(R_it.columns)):
    betas_per_stock(stock_i)

**Pause Here: Debugging**

**Pause Here: Debugging**

**Pause Here: Debugging**

In [194]:
stock = 67
# 提取个股用于回归的数据、设置放置回归系数的list
R_mkt_beta = []
sentiment_beta = []
stock_ = pd.concat([R_it.iloc[:,stock],R_mkt.iloc[:,0],sentiment.iloc[:,0]],axis = 1)#以行对齐
# 提取个股交易状态不合格的数据
allok_stock = pd.DataFrame(allok.iloc[stock,:])
allok_stock.index = pd.to_datetime(allok_stock.index) # pandas转换series至dataframe时间标签                                            
col_name = list(allok_stock.columns)[0]               # '2020-12'出错，需要pd.to_datetime修改
allok_stock = allok_stock[allok_stock[col_name] == 0]
filter_stock = []
for i in list(allok_stock.index):
    filter_stock += [str(i.year) + '-' + str(i.month)]
# 过滤个股用于回归的数据
for j in set(filter_stock):                          # pandas转换series至dataframe时间标签
    index_ = list(stock_[j].index)                   # '2020-12'重复，需要set修改
    stock_ = stock_.drop(index = index_)
# 清除nan无效数据
index_1 = list(stock_.index[np.where(np.isnan(stock_))[0]])
stock_ = stock_.drop(index = index_1)
# 逐月回归,每月得到2个回归系数，得到两列回归系数
for k in range(12,len(yrmn1)):
    start,end = yrmn1[k-12],yrmn1[k-1]
    slicing = stock_[start:end]
    if len(slicing.index) >= 1:         
        lr.fit(slicing.iloc[:,[1,2]],slicing.iloc[:,0])
        R_mkt_beta += [round(list(lr.coef_)[0], 6)]
        sentiment_beta += [round(list(lr.coef_)[1], 11)]
    else:
        R_mkt_beta += [np.nan]
        sentiment_beta += [np.nan]
# 将两列回归系数放入最终表格
R_mkt_beta_table.iloc[:,stock] = R_mkt_beta
sentiment_beta_table.iloc[:,stock] = sentiment_beta

In [160]:
stock_

            000166.SZ     R_mkt    综合情绪指数
2015-01-05        NaN  0.030060  2.274307
2015-01-06        NaN -0.000132  2.763351
2015-01-07        NaN  0.000750  2.729142
2015-01-08        NaN -0.023472  3.262122
2015-01-09        NaN -0.003528  2.885683
...               ...       ...       ...
2020-12-25   0.009891  0.008365  1.756008
2020-12-28   0.000000  0.004433  1.763164
2020-12-29   0.005888 -0.004250  1.804587
2020-12-30   0.007797  0.013937  1.862747
2020-12-31   0.024929  0.018902  1.747991

[1422 rows x 3 columns]

In [184]:
np.isnan(stock_)

            000166.SZ  R_mkt  综合情绪指数
2015-01-05       True  False   False
2015-01-06       True  False   False
2015-01-07       True  False   False
2015-01-08       True  False   False
2015-01-09       True  False   False
...               ...    ...     ...
2020-12-25      False  False   False
2020-12-28      False  False   False
2020-12-29      False  False   False
2020-12-30      False  False   False
2020-12-31      False  False   False

[1422 rows x 3 columns]

In [192]:
index_1 = list(stock_.index[np.where(np.isnan(stock_))[0]])
index_1

[Timestamp('2015-01-05 00:00:00'),
 Timestamp('2015-01-06 00:00:00'),
 Timestamp('2015-01-07 00:00:00'),
 Timestamp('2015-01-08 00:00:00'),
 Timestamp('2015-01-09 00:00:00'),
 Timestamp('2015-01-12 00:00:00'),
 Timestamp('2015-01-13 00:00:00'),
 Timestamp('2015-01-14 00:00:00'),
 Timestamp('2015-01-15 00:00:00'),
 Timestamp('2015-01-16 00:00:00'),
 Timestamp('2015-01-19 00:00:00'),
 Timestamp('2015-01-20 00:00:00'),
 Timestamp('2015-01-21 00:00:00'),
 Timestamp('2015-01-22 00:00:00'),
 Timestamp('2015-01-23 00:00:00'),
 Timestamp('2015-01-26 00:00:00')]

In [193]:
stock_ = stock_.drop(index = index_1)
stock_

            000166.SZ     R_mkt    综合情绪指数
2015-01-27  -0.102819 -0.009204  2.188784
2015-01-28  -0.032094 -0.013974  2.380495
2015-01-29   0.024735 -0.012423  2.421204
2015-01-30  -0.043548 -0.013710  2.647507
2015-02-02  -0.076439 -0.023698  1.291589
...               ...       ...       ...
2020-12-25   0.009891  0.008365  1.756008
2020-12-28   0.000000  0.004433  1.763164
2020-12-29   0.005888 -0.004250  1.804587
2020-12-30   0.007797  0.013937  1.862747
2020-12-31   0.024929  0.018902  1.747991

[1406 rows x 3 columns]

**Resume Here**

**Resume Here**

**Resume Here**

In [197]:
R_mkt_beta_table

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688690.SH,688696.SH,688698.SH,688699.SH,688700.SH,688777.SH,688788.SH,688819.SH,688981.SH,689009.SH
2015-01,1.352666,1.162595,0.404131,0.877785,0.899039,0.385646,0.323925,1.159650,0.712690,0.874093,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02,1.294169,1.207761,0.376875,0.825294,0.859615,0.325948,0.226974,0.931185,0.567369,0.846221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03,1.287355,1.183432,0.459623,0.816941,0.816975,0.339793,0.191758,0.798033,0.567666,0.819562,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04,1.265756,1.236078,0.385837,0.820993,0.810645,0.324445,0.104935,0.645557,0.511007,0.787707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05,1.257351,1.207651,0.413619,0.796902,0.821058,0.304745,0.055167,0.603229,0.511007,0.803827,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08,1.115453,0.940065,0.970669,0.780216,0.883867,0.363680,0.835436,1.254250,0.436567,0.795011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09,1.125977,0.918016,1.021030,0.808370,0.954149,0.341753,0.829392,1.250999,0.410053,0.789139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10,1.119636,0.886357,0.996160,0.789928,0.996479,0.346755,0.786336,1.222133,0.448260,0.899218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11,1.088228,0.848537,0.987650,0.780381,1.036586,0.303716,0.769344,1.238496,0.583155,0.934359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12,1.070066,0.854422,0.972741,0.765237,1.033679,0.280978,0.759775,1.240513,0.592399,0.950590,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
sentiment_beta_table

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688690.SH,688696.SH,688698.SH,688699.SH,688700.SH,688777.SH,688788.SH,688819.SH,688981.SH,689009.SH
2015-01,0.000780,0.004163,-0.004919,-0.004926,-0.001958,-0.007774,-0.006945,0.003995,-0.001417,-0.001747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02,-0.000542,0.000610,-0.000649,-0.005221,-0.001935,-0.002792,-0.002230,0.000847,-0.002064,-0.001601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03,-0.001216,-0.000082,-0.000616,-0.007165,-0.001688,-0.002465,-0.002904,0.001596,-0.000611,-0.001109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04,-0.000813,-0.000556,-0.000080,-0.009609,-0.000127,0.000324,-0.003202,0.001068,0.001138,0.000145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05,-0.000687,-0.000972,-0.000381,-0.009623,0.000644,0.000085,-0.003630,0.001435,0.001138,-0.000449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08,-0.001524,-0.001476,-0.001838,-0.001090,-0.001434,0.000002,-0.001030,-0.001676,0.003004,0.000755,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09,0.000809,-0.000570,-0.002163,-0.000725,-0.002952,0.000889,-0.000382,-0.002081,0.001900,-0.001376,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10,0.001065,-0.000035,-0.001298,-0.000051,-0.002073,0.000768,0.000255,-0.002493,0.000466,-0.001532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11,0.001062,-0.000256,-0.001259,-0.000466,-0.002016,0.000083,-0.000026,-0.002756,0.001031,-0.002142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12,0.001156,0.000163,-0.000283,-0.000516,-0.002290,0.000242,0.000244,-0.003200,0.000933,-0.002656,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**将R_mkt_beta_table和sentiment_beta_table用不同的sheet存储至excel文件'beta_tables.xlsx'**

In [199]:
writer = pd.ExcelWriter('beta_tables.xlsx')
R_mkt_beta_table.to_excel(writer,'R_mkt_beta_table')
sentiment_beta_table.to_excel(writer,'sentiment_beta_table')
writer.save()